<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gain membership</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Gain Membership</h1>
    <form action="" method="post">
      <label for="secret">Enter the secret key to gain membership:</label>
      <input type="text" name="secret" id="secret" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
